@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border:  3px #CCCCCC;
	border-spacing: 1px;
}

tr {
		border-collapse: collapse;
	border: ridge 3px #666666;
	border-spacing: 1px;
}

td {
	border-collapse: collapse;
	border:ridge 3px #666666;
	border-spacing: 1px;
}


#header {
	
	
	
	
	}


/*fixar en bakgrund*/
#container {
	background: url(pics/portfolio3.png);
	overflow: hidden;
	width: auto;
	height:1000px;
	
	margin:0 auto;
	border-bottom: groove 4px #FFFFFF;
	
	
	


}	

	







#content1 {
	width:1500px;
	height: 1000px;
	
	color:#FFFFFF;
	overflow:hidden;
	margin:0 auto;
	margin-top: 30px;
	margin-bottom:30px;
	border-radius:20px;
	
	
	}
	
h2 {
	font-family: segoe script;
	font-size:30px;
	margin-top: 50px;
	margin-left:50px;
	
	}

p {
	font-family:"Times New Roman", Times, serif;
	font-size: 18px;
	margin-right:300px;
	margin-top:60px;
	max-width:400px;
	float:right;
	
	}
	
.me {
	background-image: url(pics/me.png);
	height:250px;
	width:178px;
	display:block;
	float:left;
    
	background-position:0 -20px;
	margin-top: 114px;
	}
	
.me:hover {
	background-image:url(pics/hoverme.png);
	display:block;
	background-position: 0 -20px;
	height: 
	
	
	}
	
.bario {
	background-image: url(pics/bario.png);
	height:178px;
	width:182px;
	display:block;
	margin-right:1100px;
	background-position: 0 180px;
	
	float:right;
	
	}
	
.hemsida {
	background-image: url(pics/hemsida.png);
	height:177px;
	width:182px;
	display:block;
	margin-right:130px;
	background-position:-6px 180px;
	margin-top:40px;
	
	float:left;
	
	
	}


	







.arrow-back {
	width: 0; 
	height: 0; 
	border-style: solid;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
	
	border-right:40px solid rgba(50,50,50,0.6);
	
	margin-top: 5px;
	margin-left:700px;
}

.arrow-back:hover {
	width: 0; 
	height: 0; 
	border-style: solid;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
	
	border-right:40px solid  #000;
	
	margin-top: 5px;
	margin-left:700px;
	
	}
	
#bildspel {
	    margin-top: 200px;
        margin-left:400px;
        width:454px;
    height: 533px;
    display: block;
        
        background-position:450px 0;
	}
	
#bario {
	margin-top:50px;
	
	}



	

	
#spel {
	width:100%;
	
	}
	
#spel1 {
	margin-left:500px;
	width:400px;
	height:600px;
	
	
	margin-top:70px;
	overflow:hidden;
	
	}
	
	
	




# footer {
	clear:both;
	width:auto;
	
	}
	
	
	

	
nav {
	padding-top:200px;
	float:left;
	border-bottom:none;
	
	}
	
ul, li {
	margin:0;
    padding:0;
    
	

	
	}
	
ul li {
	background-color:#3B364F;
	border: solid 1px white;
	width:283px;
	cursor: pointer;

    list-style:none;
	}	
	
ul li:hover {
	background-color:#8c8ba4;
	position:relative;
	color:#000000;
	
	}
	
li a {
	display:block;
	list-style:none;
	font-family: shruti;
	font-size:18px;
	padding: 10px;
	
	}
	
nav .active a {
	background-color:#CCCCCC;
  	width:253px;
	
	}
ul li a {
	padding:10px 15px;
	color:#FFF;
	
	text-decoration: none;
	}	
	
/*Flyout*/


ul li ul {
	position:absolute;
	display:none;
	
	}
	
ul li:hover ul {
	left:283px;
	top:0px;
	display:block;
	width:150px;
	
	}	
	
ul li ul li {
	background-color:#3B364F;
	
	
	}	
	
ul li ul li a {
	color:# FFF;
	
	width:120px;
	
	}	
	

	
	