@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border:  3px #CCCCCC;
	border-spacing: 1px;
}

tr {
		border-collapse: collapse;
	border: ridge 3px #666666;
	border-spacing: 1px;
}

td {
	border-collapse: collapse;
	border:ridge 3px #666666;
	border-spacing: 1px;
}


/*fixar en bakgrund*/
#container {
	background: url(pics/portfolio.PNG);
	overflow: hidden;
	width: auto;
	height:auto;
	
	margin:0 auto;
	
	
	border: groove 6px #666666;
	
	
	


}	

# footer {
	clear:both;
	width:auto;
	
	}
	
h1	{
	text-align:center;
	


}


#content {
	background-color: rgba(500,500,500,0.6);
	width:1800px;
	height: 800px;
	max-height:800px;
	color:#FFFFFF;
	overflow:hidden;
	margin:0 auto;
	border-radius:20px;
	margin-top: 30px;
	margin-bottom:30px;
	border:2px solid white;
	
	}
	
	#content fieldset{
	border-bottom:2px solid white;
}


#content1 {
	width:1500px;
	height: 800px;
	max-height: 800px;
	color:#FFFFFF;
	overflow:hidden;
	margin:0 auto;
	margin-top: 30px;
	margin-bottom:30px;
	border-radius:20px;
	
	
	}

/* gjort en pil för att komma till start sidan av min portfolio*/
.arrow-down {
width: 0px;
height: 0px;
border-style: solid;
border-width: 173.2px 100px 0 100px;
border-color: rgba(50,50,50,0.6) transparent transparent transparent;
position:fixed;
	top: 150px;
	left:900px;
	

}


.arrow-down:hover {
	width: 0px;
height: 0px;
border-style: solid;
border-width: 173.2px 100px 0 100px;
border-color: #000 transparent transparent transparent;
position:fixed;
	top: 150px;
	left:900px;
	
	}



.arrow-back {
	width: 0; 
	height: 0; 
	border-style: solid;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
	
	border-right:40px solid rgba(50,50,50,0.6);
	
	margin-top: 5px;
	margin-left:700px;
}

.arrow-back:hover {
	width: 0; 
	height: 0; 
	border-style: solid;
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
	
	border-right:40px solid  #000;
	
	margin-top: 5px;
	margin-left:700px;
	
	}


.port {
	margin-top: 150px;
	margin-left:150px;
	width:  500px;
    height: 360px;
    display: block;
	background-image:url(pics/hover.png);
	background-position:500px 0;
}

.port:hover {
	background-position:-10px 0;
	}
	

	
#spel {
	width:100%;
	
	}
	
#spel1 {
	margin-left:500px;
	width:400px;
	height:600px;
	
	
	margin-top:70px;
	overflow:hidden;
	
	}



	
	
	


	
	